body {
  width: 1170px;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  margin-bottom: 0;
  width: 1170px;
  height: 701px;
  background-image: url("../img/header_bg.png");
}
.header-mid {
  height: 154px;
  width: 579px;
  margin-top: 231px;
  margin-left: 297px;
  text-align: center;
}
.header-mid-last {
  margin-top: -19px;
  font-size: 16px;
  color: #ececed;
}
.header-mid-last::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 1px;
  background-color: #4c76ff;
  margin-left: -68px;
  margin-top: 9px;
}
.header-mid-last::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 1px;
  background-color: #4c76ff;
  margin-left: 40px;
  margin-top: 10px;
}
.header-content {
  margin-top: -55px;
  font-size: 43px;
  color: #ececed;
}
.header-content-span {
  color: #4a70ed;
}
.header-soc {
  margin-top: 113px;
  margin-left: 529px;
  width: 113px;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.twitter,
.facebook,
.google-plus,
.dribbble {
  opacity: 30%;
  transition: 0.1s linear;
}
.twitter:hover,
.facebook:hover,
.google-plus:hover,
.dribbble:hover {
  opacity: 100%;
}
.top {
  margin-left: 99px;
  width: 974px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-bg {
  background-color: rgba(16, 22, 54, 0.2);
  height: 52px;
}
.logo {
  width: 249px;
  display: flex;
  font-display: row;
  justify-content: space-between;
}
.tag {
  color: #5d5b61;
  font-weight: 400;
  font-style: italic;
}
.label {
  font-weight: 800;
  margin-left: 0;
  color: #fff;
}
.label:after {
  position: absolute;
  content: "";
  height: 13px;
  width: 1px;
  background-color: #283c4e;
  margin-left: 40px;
  margin-top: 4px;
}
.label-mid {
  font-size: 58px;
  font-weight: 800;
  margin-left: 0;
  color: #fff;
}
.dot {
  color: #4970f1;
}
.dot-mid {
  color: #4970f1;
}
.menu {
  width: 314px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-tools {
  color: #fff;
}
.menu:before {
  width: 32px;
  height: 1px;
  position: absolute;
  background-color: #4c76ff;
  content: "";
}
.features {
  position: absolute;
  text-align: center;
  width: 1170px;
  height: 434px;
  background-image: url(../img/features_bg.png);
}
.features-head {
  margin-top: 79px;
}
.features-head-text {
  height: 21px;
  font-weight: 800;
  color: #4c76ff;
  font-size: 28px;
  margin-bottom: 0;
}
.features-head-img {
  height: 14px;
  margin-top: 25px;
  margin-bottom: 82px;
}
.features-content {
  font-family: 'Open Sans', sans-serif;
  margin-left: 98px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 971px;
  text-align: left;
}
.features-content-head {
  font-size: 17px;
  font-weight: 900;
  color: #062033;
}
.features-content-text {
  width: 252px;
  font-size: 10.91px;
  color: #798690;
}
.features-content-img {
  position: absolute;
  margin-top: 22px;
  margin-left: -50px;
}
.iphone {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  margin-top: 434px;
  height: 889px;
  width: 1170px;
  background-color: #fff;
  text-align: center;
}
.iphone-head {
  margin-top: 87px;
  margin-left: 191px;
  width: 782px;
  font-size: 15.08px;
  font-weight: 400;
}
.iphone-content {
  display: flex;
  font-display: row;
  justify-content: space-between;
  width: 972px;
  margin-left: 100px;
  margin-top: 70px;
}
.iphone-content-tel {
  height: 608px;
  width: 350px;
}
.iphone-content-tabs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 47px;
  height: 453px;
}
.iphone-content-tabs-tab {
  display: flex;
  font-display: row;
  justify-content: space-between;
  width: 311px;
  height: 111px;
  text-align: left;
}
.iphone-content-tabs-tab:hover {
  background-color: rgba(247, 227, 39, 0.1);
  opacity: 1;
}
.iphone-content-tabs-tab-head {
  font-weight: 700;
  font-size: 13.4px;
}
.iphone-content-tabs-tab-text {
  font-weight: 400;
  font-size: 10.89px;
  width: 225px;
}
.iphone-content-tabs-tab-img-customize {
  width: 30px;
  height: 31px;
}
.iphone-content-tabs-tab-img-time {
  width: 29px;
  height: 30px;
}
.iphone-content-tabs-tab-img-music {
  width: 27px;
  height: 31px;
}
.iphone-content-tabs-tab-img-face {
  width: 28px;
  height: 27px;
}
.iphone-content-tabs-tab-img-send {
  width: 29px;
  height: 28px;
}
.iphone-content-tabs-tab-img-camera {
  width: 30px;
  height: 23px;
}
.iphone-content-tabs-tab img {
  opacity: 0.4;
  margin-left: 16px;
  margin-top: 16px;
}
.customize:hover .iphone-content-tabs-tab-img-customize {
  opacity: 1;
}
.time:hover .iphone-content-tabs-tab-img-time {
  opacity: 1;
}
.music:hover .iphone-content-tabs-tab-img-music {
  opacity: 1;
}
.face:hover .iphone-content-tabs-tab-img-face {
  opacity: 1;
}
.send:hover .iphone-content-tabs-tab-img-send {
  opacity: 1;
}
.camera:hover .iphone-content-tabs-tab-img-camera {
  opacity: 1;
}
.works {
  position: absolute;
  margin-top: 1323px;
  height: 864px;
  width: 1170px;
}
.works-head {
  margin: auto;
  text-align: center;
  height: 208px;
}
.works-head-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 28px;
  color: #4c76ff;
}
.works-head img {
  margin-top: 15px;
}
.works-head-content {
  font-weight: 400;
  font-size: 14px;
  color: #062033;
  opacity: 0.8;
  width: 710px;
  margin-left: 203px;
  margin-top: 45px;
}
.works-scrol-title {
  margin: auto;
  width: 506px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-weight: 900;
  font-size: 14px;
  color: #062033;
}
.works-scrol-title div {
  text-align: center;
  transition: 0.2s;
  height: 30px;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.works-scrol-title div:hover {
  background-color: #4c76ff;
  color: #fff;
}
.works-scrol-title-all {
  width: 57px;
}
.works-scrol-title-branding {
  width: 98px;
}
.works-scrol-title-web {
  width: 72px;
}
.works-scrol-title-logo {
  width: 128px;
}
.works-scrol-title-photo {
  width: 124px;
}
.works-scrol-imgs {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  margin-top: 78px;
  width: 1152px;
  height: 442px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.works-scrol-imgs-img {
  display: block;
  position: relative;
  width: 288px;
  height: 221px;
}
.works-scrol-imgs-img-hover {
  opacity: 0;
  transform: translateY(-226px);
  position: absolute;
  background-color: rgba(76, 118, 255, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  transition: 0.2s;
}
.works-scrol-imgs-img-hover-h {
  font-weight: 700;
  font-size: 13.2px;
}
.works-scrol-imgs-img-hover-text {
  margin-bottom: 71px;
  font-weight: 400;
  font-size: 11.27px;
}
.works-scrol-imgs-img-hover img {
  margin-top: 69px;
  margin-bottom: 22px;
  width: 29px;
  height: 29px;
}
.works-scrol-imgs-img:hover .works-scrol-imgs-img-hover {
  opacity: 1;
}
.team {
  position: absolute;
  height: 658px;
  width: 1170px;
  margin-top: 2187px;
}
.team-head {
  margin: auto;
  text-align: center;
  height: 248px;
}
.team-head-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 28px;
  height: 25px;
  color: #4c76ff;
  margin: 0;
}
.team-head img {
  margin-top: 20px;
}
.team-head-text {
  font-weight: 400;
  font-size: 14.96px;
  color: #062033;
  opacity: 0.8;
  width: 803px;
  margin: auto;
  margin-top: 54px;
}
.team-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 972px;
  margin: auto;
}
.team-content-block {
  display: block;
  position: relative;
}
.team-content-block img {
  width: 224px;
  height: 249px;
}
.team-content-block-underline {
  color: #062033;
}
.team-content-block-underline-title {
  margin-top: 7px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 14.93px;
}
.team-content-block-underline-text {
  margin-top: 10px;
  opacity: 0.56;
  font-weight: 400;
  font-size: 10.78px;
}
.team-content-block-hover {
  transition: 0.2s;
  transform: translateY(-317px);
  position: absolute;
  background-color: rgba(76, 118, 255, 0.95);
  width: 224px;
  height: 250px;
  margin: auto;
  color: #fff;
  opacity: 0;
}
.team-content-block-hover-title {
  margin: auto;
  margin-top: 17px;
  width: 171px;
  font-weight: 700;
  font-size: 13.27px;
}
.team-content-block-hover-text {
  padding-top: 14px;
  margin: auto;
  width: 174px;
  font-weight: 400;
  font-size: 13.27px;
}
.team-content-block-hover-contacts {
  padding-top: 59px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 35px;
  width: 112px;
}
.team-content-block-hover-contacts a {
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}
.team-content-block-hover-contacts a img {
  margin: auto;
  width: auto;
  height: auto;
}
.team-content-block-hover:hover {
  opacity: 1;
}
.facts {
  display: block;
  position: absolute;
  margin-top: 2845px;
  height: 450px;
  width: 1170px;
  background-color: rgba(6, 32, 51, 0.8);
}
.facts:after {
  top: 0;
  left: 0;
  height: auto;
  position: absolute;
  content: '';
  background: url(../img/city-bg.png);
  z-index: -1;
  width: 100%;
  height: 100%;
}
.facts-head {
  text-align: center;
}
.facts-head-title {
  margin-top: 55px;
  font-weight: 900;
  color: #4c76ff;
  font-size: 20.91;
  text-transform: uppercase;
}
.facts-content {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin: auto;
  width: 775px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 50px;
}
.facts-content-block {
  text-align: center;
  text-transform: uppercase;
}
.facts-content-block-text {
  font-weight: 400;
  font-size: 13.44px;
}
.facts-content-block-text span {
  font-weight: 600;
  font-size: 44.8px;
}
.facts-content-block img {
  width: auto;
  height: auto;
}
.mail {
  height: 574px;
  width: 1170px;
  position: absolute;
  margin-top: 3295px;
}
.mail-head {
  text-align: center;
}
.mail-head-title {
  margin-bottom: 10px;
  margin-top: 79px;
  font-weight: 900;
  font-size: 28px;
  color: #4c76ff;
  text-transform: uppercase;
}
.mail-head-text {
  margin-top: 30px;
  font-weight: 400;
  color: rgba(6, 32, 51, 0.8);
}
.mail-content {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 974px;
  margin: auto;
}
.mail-content-adress {
  width: 211px;
  font-family: 'Open Sans', sans-serif;
}
.mail-content-adress-head {
  font-weight: 600;
  font-size: 16px;
  color: rgba(6, 32, 51, 0.8);
}
.mail-content-adress-text {
  font-weight: 300;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.3);
}
.mail-content-ms {
  width: 641px;
}
.mail-content-ms-head {
  font-weight: 700;
  font-size: 20.02px;
  color: #062033;
}
.mail-content-ms-form {
  width: 641px;
}
.mail-content-ms-form-reg {
  width: 641px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.mail-content-ms-form-reg-group {
  margin-bottom: 40px;
  position: relative;
}
.mail-content-ms-form-reg-group-input {
  transition: 0.2s;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  width: 308px;
  padding: 0;
}
.mail-content-ms-form-reg-group-input:focus {
  border-bottom: solid 1px rgba(0, 0, 0, 0.8);
}
.mail-content-ms-form-reg-group-input:focus ~ .mail-content-ms-form-reg-group-label,
.mail-content-ms-form-reg-group-input:not(:placeholder-shown) ~ .mail-content-ms-form-reg-group-label {
  top: -11px;
  font-size: 11px;
  color: rgba(91, 100, 110, 0.8);
}
.mail-content-ms-form-reg-group-label {
  color: #5b646e;
  transition: 0.2s;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}
.mail-content-ms-form-ms {
  margin-bottom: 31px;
  position: relative;
}
.mail-content-ms-form-ms-input {
  transition: 0.2s;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 0;
}
.mail-content-ms-form-ms-input:focus {
  border-bottom: solid 1px rgba(0, 0, 0, 0.8);
}
.mail-content-ms-form-ms-input:focus ~ .mail-content-ms-form-ms-label,
.mail-content-ms-form-ms-input:not(:placeholder-shown) ~ .mail-content-ms-form-ms-label {
  top: -11px;
  font-size: 11px;
  color: rgba(91, 100, 110, 0.8);
}
.mail-content-ms-form-ms-label {
  color: #5b646e;
  transition: 0.2s;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}
.mail-content-ms-btn {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  float: right;
  border: none;
  background: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
}
.mail-content-ms-btn:focus {
  background-color: #062033;
  color: #fff;
  border: none;
}
.mail-content-ms-btn img {
  width: 20px;
  height: 14px;
}
.mail-content-ms-btn-text {
  font-weight: 600;
  font-size: 15px;
}
.mail-content-contacts {
  width: 27px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.map {
  position: absolute;
  margin-top: 3869px;
  width: 1170px;
  height: 183px;
  border: none;
}
.footer {
  position: absolute;
  margin-top: 4052px;
  height: 250px;
  width: 1170px;
  background-color: #062033;
}
.footer-fl {
  width: 869px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer-sarajevo {
  height: 150px;
  width: 242px;
}
.footer-sarajevo-title {
  margin: 0;
  font-weight: 900;
  color: #fff;
  font-size: 26.72px;
}
.footer-sarajevo-title span {
  font-weight: 900;
  color: #4c76ff;
  font-size: 26.72px;
}
.footer-sarajevo-text {
  font-weight: 100;
  margin-top: 45px;
  color: #fff;
  font-size: 12.41px;
}
.footer-sub {
  height: 150px;
  width: 249px;
}
.footer-sub-title {
  margin: 0;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
}
.footer-sub-content {
  margin-top: 34px;
}
.footer-sub-content-input {
  position: relative;
  width: 240px;
  height: 37px;
  background: transparent;
  border: solid 2px #fff;
  border-radius: 4px;
  outline: none;
  color: #fff;
  font-weight: 600;
}
.footer-sub-content img {
  margin-top: 16px;
  margin-left: -34px;
  position: absolute;
}
.footer-sub-content-text {
  margin-top: 22px;
  font-weight: 100;
  color: #fff;
  font-size: 12.41px;
}
.footer-exp {
  height: 150px;
  width: 206px;
}
.footer-exp-title {
  margin: 0;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
}
.footer-exp-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footer-exp-content-block {
  margin-top: 20px;
}
.footer-exp-content-block-soc {
  font-weight: 400;
  color: #fff;
  font-size: 12.41px;
}
